# add in /etc/systemd/system

[Unit]
Description=Thermal Management Interface (TMI)
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
User=root
# <path> will be replaced with sed
ExecStart=<path>

[Install]
WantedBy=multi-user.target
